@model List<ProductWithCategoryDto>
@{
    ViewData["Title"] = "Index";
}

<table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Price</td>
            <td>Stock</td>
            <td>Category</td>
            <td>Created Date</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.Category.Name</td>
                <td>@item.CreatedDate</td>
                <td>
                    <a asp-controller="Products" asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning">Update</a>
                    <a asp-controller="Products" asp-action="Remove" asp-route-id="@item.Id" class="btn btn-danger">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Products" asp-action="Save" class="btn btn-primary">Add</a>
